/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;
}
.gadiant1{
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px/2 - 76.53px);
    top: calc(50% - 257.05px/2 - 47.47px);
    border-radius: 100%;
    
    background: linear-gradient(123.77deg, #8A2BE2 -6.46%, #FFA500 59.04%, #F8F8FF 124.53%);
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
    
}
.gadiant2{
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px/2 - 76.53px);
    top: calc(50% - 257.05px/2 - 47.47px);
    border-radius: 100%;
    
    background: linear-gradient(118.19deg, #1FA2FF -3.62%, #12D8FA 50.44%, #A6FFCB 104.51%);
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.homepage-bg{
    background-image: url("../src//assets/Images/bghome.svg");
}
.timelineShadow{
    position:relative;
    width: 400px;
    height: 300px;
    left: calc(90% - 372.95px/2 - 76.53px);
    top: calc(70% - 270.05px/2 - 47.47px);
    border-radius: 100%;
    
    background: linear-gradient(118.19deg, #1b7dc2 -3.62%, #1c99af 50.44%, #94fdc0 104.51%);
    opacity: 0.4;
    filter: blur(34px);
    transform: matrix(1.2, 0, -0.04, 1.2, 0, 0);
    
}